<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <!-- ChromeDriver -->
    <!-- FirefoxDriver -->
    <!-- InternetExplorerDriver -->
    <parameter name="driver" value="FirefoxDriver" /> <!--测试浏览器：支持火狐，谷歌，IE-->
    <parameter name="nodeURL" value="" /> <!--selenium grid分布式运行node节点url，如不用分布式运行，则留空-->
    <parameter name="BaseUrl" value="http://121.40.197.16:3000/index.html#/login"/>  <!-- 测试系统基础Url-->
    <parameter name="NppBaseUrl" value="http://121.40.197.16:3000/" />  <!-- 测试系统基础Url-->
    <parameter name="UserName" value="" /> <!-- 系统登录用户名-->
    <parameter name="PassWord" value="" />  <!-- 系统登录密码-->
    <parameter name="smtpUserName" value="" />  <!-- 测试报告邮件发送：smtp身份证验证：发件人-->
    <parameter name="smtpPassWord" value="" />  <!-- 测试报告邮件发送：smtp身份证验证：发件人-->
    <parameter name="smtpHost" value="" />  <!-- 测试报告邮件发送：smtp主机地址：发件人-->
    <parameter name="smtpPort" value="" />  <!-- 测试报告邮件发送：smtp主机端口：：发件人-->
    <parameter name="mailTitle" value="自动化测试报告" />  <!-- 测试报告邮件发送：邮件标题-->
    <parameter name="logUrl" value="" />  <!-- 测试报告邮件发送：用例运行日志url-->
    <parameter name="reportUrl" value="" />  <!-- 测试报告邮件发送：完整测试报告url-->
    <parameter name="recipients" value="" /> <!-- 测试报告邮件发送：收件人，多个用,号隔开-->
    <parameter name="reportTitle" value="Webdriver中文社区-自动化测试报告" />  <!--测试报告标题-->
    <listeners><!-- 监听器设置-->
        <listener class-name="com.manage.demo.util.TestListener"></listener>
        <listener class-name="com.manage.demo.util.TestReport"></listener>
    </listeners>
    <!--登录测试-->
    <test name="TestLogin">
     <classes>
      <class name="com.example.demo.BasicManage.LoginTest"></class>
     </classes>
   </test> <!-- Test -->





</suite>